.header{
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 999;
  transition: top 0.6s;
  top: 0;
  transition: all 0.3s;
  &.js-show{
    position: fixed;
    top: 0;
    background: rgba(0,0,0,1);
    height: 60px;
    .home-link{
      transform: scale(0.8);
    }
  }
  span.comp-name{
    font-family: NeuropolXRg-Regular, sans-serif;
    font-size: 24px;
    color: #ffffff;
  }
  .container{
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.hamburger.header-button{
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
    z-index: 20;
  }
}

.hamburger-inner{
  background-color: #fff;
  &:before,
  &:after{
    background-color: #fff;
  }
}

.home-link{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s;
  &:hover{
    text-decoration: none;
  }
}

.header__logo{
  display: flex;
  align-items: center;
  transition: transform 1s;

  height: 61px;
  width: 61px;
}

.header-nav{
  display: flex;
  align-items: center;
  height: 100%;

  &.mobile{
    display: none;

  }
  &.desctop{
    @media screen and (max-width: 768px){
      .header-nav__item{
        display: none;
      }
      height: 0;
      transition: height 0.3s;
      &.is-active{
        .header-nav__item{
          display: flex;
          height: 15%;
          align-items: center;
        }
        padding-top: 25%;
        display: flex;
        height: 100vh;
        position: fixed;
        z-index: 10;
        background: rgba(0, 0, 0, 1);
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        transition: height 0.3s;
        .header-nav__button{
          margin: 0;
          height: 40px;
        }
      }
    }
  }
}

.header-nav__item{
  margin: 0 50px 0 0;
  &--button{
    margin: 0 0px 0 0;
  }
  @media screen and (max-width: 768px){
    margin: 0;
  }
}

.header-nav__link{
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  line-height: 24px;
  text-decoration: none;
  font-weight: 300;
  &:hover{
    text-decoration: none;
  }
}

.header-nav__button{
  width: 164px;
  height: 40px;
  border-radius: 6px;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #000000;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  &:hover{
    text-decoration: none;
  }
}