.lets-container{
  background: url("../images/services/cells4.png");
  padding-top: 476px;
  padding-bottom: 80px;
  background-position: center -20%;
  background-size: cover;
  background-repeat: no-repeat;
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.lets__text{
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 40px;
}

.lets__button{
  height: 40px;
  border-radius: 6px;
  background-color: #000000;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  font-weight: 300;
  width: 100%;
  max-width: 165px;
}