.main-contact-form{
  background: #02CCD6;
  padding: 100px 0;
  .container{
    flex-direction: column;
  }
}

.main-contact-form__content{
  display: flex;
  @media screen and (max-width: 768px){
    flex-wrap: wrap;
  }
}

.main-contact-form__points-list{
  width: 650px;
}

.main-contact-form__points-list{
  display: flex;
  flex-direction: column;
}

.main-contact-form__form{
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  width: 400px;
  textarea{
    height: 120px;
    margin-bottom: 35px;
    resize: none;
  }
  input{
    margin-bottom: 35px;
  }
}

.submit-button{
  @include button(50px, #fff);
  color: #ffffff;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  width: 400px;
  min-height: 40px;
  border-radius: 6px;
  background-color: #02ccd6;
  @media screen and (max-width: 768px){
    width: 100%;
  }
}

.main-contact-form__form-container{
  background: #ffffff;
  border-radius: 5px;
  padding: 50px 70px 40px;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: 768px){
    width: 100%;
    padding: 50px 10px 40px;
    flex-wrap: wrap;
  }
}

.main-contact-form__form-title{
  text-align: center;
  font-size: 17px;
  line-height: 26px;
  color: #ffeccf;
  margin-bottom: 45px;
}

.checkbox{
  display: flex;
  margin-bottom: 40px;
  color: #fff;
  input{
    display: none;
  }
  span{
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #000000;
  }
  .styled-checkbox{
    display: block;
    content: '';
    width: 17px;
    height: 17px;
    border-radius: 4px;
    background-color: rgba(66, 66, 66, 0.03);
    position: relative;
    margin-right: 10px;
    img{
      display: none
    }
  }
  
  input:checked + .styled-checkbox{
    img{
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

.main-contact-form__point{
  color: #fff;
  font-size: 17px;
  line-height: 1.25em;
  padding: 15px 0
}

.main-contact-form__points-list{
  padding-top: 55px;
  padding-right: 150px;
  @media screen and (max-width: 768px){
    padding-right: 0;
  }
}

.main-contact-form__title{
  margin: 120px auto 120px;
  width: 100%;
  max-width: 580px;
  @media screen and (max-width: 768px){
    margin: 120px auto 20px;
  }
}

.ba-container{
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  img{
    width: 200px;
    height: 233px;
  }
  .ba-pos{
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    text-align: center;
  }
  .ba-name{
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #000000;
    text-align: center;
  }
}