.works-title{
  background: url("../images/services/cells5.png");
  height: 1100px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  .container{
    align-items: center;
    justify-content: space-around;
    height: 100%;
    @media screen and (max-width: 768px){
      flex-wrap: wrap;
      .services-hero-top__content{
        order: 1;
      }
      .service-hero-top__main-image{
        order: 2;
      }
    }
  }
  @media screen and (max-width: 768px){
    height: auto;
    padding-top: 120px;
  }
}

.works-title__subtitle{
  font-size: 26px;
  color: #fff;
  line-height: 46px;
  margin-bottom: 0;
}

.works-title__title{
  line-height: 1;
  margin-bottom: 24px;
}

.works-title__lead{
  font-style: 17px;
  line-height: 25px;
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  text-align: center;
  color: #7e7e7e;
}