.wrapper{
  position: relative;
  z-index: 2;
  background: #000000;
  transition: background .3s ease;
  &.company{
    background: #170e25;
    .works-title{
      background-image: url('../images/company/company-bg.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.wrapper--about{
  background: none;
}

body{
  &.black{
    .wrapper{
      background: #1f1f1f;
    }
  }
  &.green{
    .wrapper{
      background: #239370;
      //@include gradient(90deg, #239370, #1ab670);
    }
  }

  &.orange{
    .wrapper{
      background: #f15526;
      //@include gradient(90deg, #f15526, #f16328);
    }
  }
}