<footer class="footer">
    <div class="container">
      <div class="footer__logo-block">
        <div class="footer__logo-section">
          <img src="./dist/images/logos/docs_logo_white.svg" alt="IT-nity">
          <p>IT-Nity</p>
        </div>
        <div class="footer__logo-description">
          Full-stack mobile (iOS, Android) and web app design and development company.
        </div>
      </div>
      <nav class="footer__nav">
        <a href="/works" class="footer__nav-item">Works</a>
        <a href="#" class="footer__nav-item">Services</a>
        <a href="#" class="footer__nav-item">Company</a>
        <a href="#" class="footer__nav-item">Blog</a>
        <a href="#" class="footer__nav-item">Contacts</a>
        <a href="#" class="footer__nav-item">Lets talk</a>
      </nav>
      <div class="footer__social">
        <a href="" class="footer__social-nav">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="" class="footer__social-nav">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="" class="footer__social-nav">
          <i class="fa fa-behance" aria-hidden="true"></i>
        </a>
        <a href="" class="footer__social-nav">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </footer>