<footer class="footer">
    <div class="absolute-footer"></div>
    <div class="container">
        <div class="footer__top">
            <h3 class="footer__title">
                Let's build something great.
            </h3>
            <p class="footer__lead">
                If you have an app that needs to be designed and built,<br>
                contact us at business@it-nity.com
            </p>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom__logo">
                <img src="../../dist/images/logos/new-logo.svg" alt="IT-nity" class="logo">
                <h1 class="footer-bottom__title">
                    IT-nity
                </h1>
            </div>
            <p class="footer-copy">
                © 2017 IT-nity. All rights reserved
            </p>
            <div class="footer__social">
                <a class="footer__social-item">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a class="footer__social-item">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a class="footer__social-item">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a class="footer__social-item">
                    <i class="fa fa-skype" aria-hidden="true"></i>
                </a>

            </div>
        </div>
    </div>
</footer>
<% include ./lets-talk %>
<script src="./dist/bundle.js"></script>