<header class="header">
    <div class="container">
      <a href="/">
        <div class="header__logo">
            <svg width="50px" height="50px" viewBox="0 0 234 234" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Artboard" transform="translate(-251.000000, -579.000000)" fill="#FFFFFF">
                      <g id="docs_logo_white" transform="translate(251.000000, 579.000000)">
                          <g id="logo">
                              <g id="medical" transform="translate(0.018868, 0.018868)">
                                  <g id="Group">
                                      <path d="M229.283019,138.849442 L186.978822,113.113593 C183.827493,111.203697 179.864459,111.203697 176.713131,113.113593 L134.408933,138.849442 C131.496342,140.616095 129.729688,143.767424 129.729688,147.109742 L129.729688,198.533693 C129.729688,201.923758 131.496342,205.027339 134.408933,206.793993 L176.713131,232.529842 C178.288795,233.48479 182.442819,235.203697 186.978822,232.529842 L229.283019,206.793993 C232.19561,205.027339 233.962264,201.876011 233.962264,198.533693 L233.962264,147.109742 C233.962264,143.719677 232.19561,140.616095 229.283019,138.849442 L229.283019,138.849442 Z M214.338082,193.090489 L181.822102,212.857913 L149.306122,193.090489 L149.306122,152.552946 L181.822102,132.785522 L214.338082,152.552946 L214.338082,193.090489 L214.338082,193.090489 Z" id="Shape" fill-opacity="0.7"></path>
                                      <path d="M99.5533308,138.849442 L57.2491336,113.113593 C54.0978052,111.203697 50.1347709,111.203697 46.9834424,113.113593 L4.67924528,138.849442 C1.76665383,140.616095 0,143.767424 0,147.109742 L0,198.533693 C0,201.923758 1.76665383,205.027339 4.67924528,206.793993 L46.9834424,232.529842 C48.5591067,233.48479 52.7131305,235.203697 57.2491336,232.529842 L99.5533308,206.793993 C102.465922,205.027339 104.232576,201.876011 104.232576,198.533693 L104.232576,147.109742 C104.232576,143.719677 102.465922,140.616095 99.5533308,138.849442 L99.5533308,138.849442 Z M84.6561417,193.090489 L52.1401617,212.857913 L19.6241817,193.090489 L19.6241817,152.552946 L52.1401617,132.785522 L84.6561417,152.552946 L84.6561417,193.090489 L84.6561417,193.090489 Z" id="Shape"></path>
                                      <path d="M169.121294,86.8525221 L169.121294,35.4285714 C169.121294,32.038506 167.35464,28.9349249 164.442049,27.1682711 L122.090104,1.43242203 C118.938776,-0.477474008 114.975741,-0.477474008 111.824413,1.43242203 L69.5202156,27.1682711 C66.6076242,28.9349249 64.8409704,32.0862534 64.8409704,35.4285714 L64.8409704,86.8525221 C64.8409704,90.2425876 66.6076242,93.3461687 69.5202156,95.1128225 L111.824413,120.848672 C113.400077,121.80362 117.554101,123.522526 122.090104,120.848672 L164.394301,95.1128225 C167.35464,93.3939161 169.121294,90.2425876 169.121294,86.8525221 L169.121294,86.8525221 Z M149.497112,81.4093184 L116.981132,101.176742 L84.4651521,81.4093184 L84.4651521,40.8717751 L116.981132,21.1043512 L149.497112,40.8717751 L149.497112,81.4093184 L149.497112,81.4093184 Z" id="Shape"></path>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
            </svg>
        </div>
      </a>
      <nav class="header-nav desctop">
        <div class="header-nav__item">
          <a href="/works" class="header-nav__link">WORK</a>
        </div>
        <div class="header-nav__item">
          <a href="/services" class="header-nav__link">SERVICES</a>
        </div>
        <div class="header-nav__item">
          <a href="/company" class="header-nav__link">ABOUT</a>
        </div>
        <div class="header-nav__item header-nav__item--button">
          <a class="header-nav__button" id="toggle-modal">
              LETS TALK
          </a>
        </div>
      </nav>
      <nav class="header-nav mobile">
          <div class="header-nav__item">
            <a href="/works" class="header-nav__link">WORKS</a>
          </div>
          <div class="header-nav__item">
            <a href="/services" class="header-nav__link">SERVICES</a>
          </div>
          <div class="header-nav__item">
            <a href="/company" class="header-nav__link">COMPANY</a>
          </div>
          <div class="header-nav__item">
            <a href="" class="header-nav__link">BLOG</a>
          </div>
          <div class="header-nav__item">
            <a href="" class="header-nav__link">CONTACTS</a>
          </div>
          <div class="header-nav__item header-nav__item--button">
            <a class="header-nav__button" id="toggle-modal">
                LETS TALK
            </a>
          </div>
        </nav>
    </div>
  </header>