<section class="lets-talk" id="lets-talk">
  <div class="container">
    <h2 class="block-title lets-talk__title">
      Got a product that needs building?
    </h2>
    <form action="" id="get-touch">
        <div class="lets-talk__form2x">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="NAME" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="EMAIL" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="phone" name="phone" class="form-control" placeholder="PHONE" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="company" class="form-control" placeholder="COMPANY" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <select class="selectpicker" name="prod_type" multiple title='TYPE OF PRODUCT' data-width='100%' required>
                  <option>iPhone/iPad App</option>
                  <option>Android App</option>
                  <option>Website</option>
                  <option>Other</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <select class="selectpicker" name="budget" title='BUDGET' data-width='100%' required>
                  <option>Under $50k</option>
                  <option>$50k - $100k</option>
                  <option>$100k - $250k</option>
                  <option>$250k - $500k</option>
                  <option>Above $500k</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <textarea class="form-control" name="descroption" rows="5" id="comment" placeholder="PROJECT DESCRIPTION" ></textarea>
          </div>
        </div>
        <div class="row m-0">
          <input type="submit" class="button-submit" value="Get in touch">
        </div>
      </form>
  </div>
</section>