<!DOCTYPE>
<html>
<% include ./partials/head %>
<body>
<% include ./partials/header %>
<div class="wrapper wrapper--about">

    <section class="hero hero--about">
        <div class="container">
            <div class="hero__logo">
                <img src="./dist/images/logos/new-logo.svg" alt="">
            </div>
            <h2 class="hero-main__wea">
            <span class="bold">
                We are
            </span>
                IT-nity
            </h2>
        </div>
    </section>

    <section class="about-content">
        <div class="container">
            <div class="about-content__two-col">
                <div class="about-content__image">
                    <img src="./dist/images/about/content-first.png" alt="">
                </div>
                <div class="about-content__lead">
                    <h3 class="about-content__title">
                        Passionate about product.
                    </h3>
                    <p class="about-content__lead">
                        We are product pros with decades of experience shipping
                        user-friendly apps for successful companies. We started IT-nity
                        to bring that experience to the agency world. We love the craft
                        of software and we don't follow the traditional "outsider" company model.
                    </p>
                    <p class="about-content__lead">
                        You bring your existing team (if you have one).
                        Our senior practitioners will jump right in at your speed or level up your team
                        if they’re more on the junior side. We pride ourselves on fitting
                        in and working closely with your team to deliver great products. That’s our passion.
                    </p>
                </div>

            </div>
            <div class="about-content__two-col">

                <div class="about-content__lead">
                    <h3 class="about-content__title">
                        Our Philosophy
                    </h3>
                    <h4 class="about-content__subtitle">
                        STRONG OPINIONS, LOOSELY HELD
                    </h4>
                    <p class="about-content__lead">
                        We have lots of experience (and opinions!)
                        about building products. We’ll give you our opinion
                        on how to build, but we know enough to be flexible in
                        every situation.
                    </p>
                    <h4 class="about-content__subtitle">
                        TECHNOLOGY IS AN ENABLER
                    </h4>
                    <p class="about-content__lead">
                        Technology enables great experiences.
                        We like and use technology but we have tried hard to
                        not fall in love with it. We don’t prescribe a single
                        technology and use that on all projects because that it
                        ultimately limiting. Instead, we assess each situation and
                        its constraints to determine which technology is most appropriate for the job.
                    </p>
                    <h4 class="about-content__subtitle">
                        CUSTOMERS DETERMINE HAPPINESS
                    </h4>
                    <p class="about-content__lead">
                        We’re not happy until our client *and their customers*
                        are happy. While we strive to make all of our clients
                        happy (100% of our clients are referrals)
                        we keep pushing until we know that the end users are happy as well.
                    </p>
                    <h4 class="about-content__subtitle">
                        DEPENDABLE, HONEST, & TRUSTWORTHY
                    </h4>
                    <p class="about-content__lead">
                        These are the qualities we admire in others and hold as
                        ideals for ourselves. When we were hiring agencies in our
                        previous careers we wanted these qualities and so we strive
                        every day to deliver them.
                    </p>
                </div>
                <div class="about-content__image">
                    <img src="./dist/images/about/content-second.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="about-team">
        <div class="container">
            <div class="member member--left">
                <div class="member__avatar">
                    <img src="../dist/images/team/member-1.png" alt="">
                </div>
                <div class="member__info">
                    <p class="member__name">
                        Michael Poremsky
                    </p>
                    <p class="member__position">
                        CEO, Co-Founder
                    </p>
                </div>
            </div>
            <div class="member member--right">
                <div class="member__avatar">
                    <img src="../dist/images/team/member-2.png" alt="">
                </div>
                <div class="member__info">
                    <p class="member__name">
                        Boris Sagan
                    </p>
                    <p class="member__position">
                        CTO, Co-Founder
                    </p>
                </div>
            </div>
            <div class="member member--left">
                <div class="member__avatar">
                    <img src="../dist/images/team/member-2.png" alt="">
                </div>
                <div class="member__info">
                    <p class="member__name">
                        Nazar Dub
                    </p>
                    <p class="member__position">
                        Tech Lead, Java Developer
                    </p>
                </div>
            </div>
        </div>
    </section>

</div>

<% include ./partials/footer %>
<script src="./dist/bundle.js"></script>
</body>
</html>