<!DOCTYPE>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="wrapper">
      <section class="works-title">
        <div class="container">
          <h1 class="works-title__title block-title">
            Works
          </h1>
          <h2 class="works-title__subtitle block-subtitle">
            We Bring Your Ideas to Life
          </h2>
          <p class="works-title__lead">
              Here's a small snapshot of the work delivered by IT-nity. Check out how we have 
              crafted our client’s ideas into products with the right market fit. Let us know 
              if something catches your eye.
          </p>
        </div>
      </section>
      <section class="portfolio-container">
        <div class="container">
          <div class="portfolio-card portfolio-card--miquare">
            <div class="portfolio-card__content">
              <h3 class="portfolio-card__title">
                  MiQare
                </h3>
                <p class="portfolio-card__description">
                    Providing faster prescription writing, a decrease in liability due to human fallacy 
                    as well as realtime interaction with patients.
                </p>
                <div class="portfolio-card__tags-container">
                  <div class="portfolio-card__tag">Helth care</div>
                  <div class="portfolio-card__tag">Android</div>
                  <div class="portfolio-card__tag">IOS</div>
                  <div class="portfolio-card__tag">CANADA</div>
                </div>
            </div>
            <div class="portfolio-card__image" style="background-image: url('./dist/images/works/miquare.png');"></div>
          </div>
          <div class="portfolio-card portfolio-card--mark">
              <div class="portfolio-card__content">
                <h3 class="portfolio-card__title">
                    Mark-Connect
                  </h3>
                  <p class="portfolio-card__description">
                      Control your smart tracker MARK-GPS.
                  </p>
                  <div class="portfolio-card__tags-container">
                    <div class="portfolio-card__tag">Alarm system</div>
                    <div class="portfolio-card__tag">Android</div>
                    <div class="portfolio-card__tag">IOS</div>
                    <div class="portfolio-card__tag">Ukraine</div>
                  </div>
              </div>    
              <div class="portfolio-card__image" style="background-image: url('./dist/images/works/mark.png');"></div>
          </div>
          <div class="portfolio-card portfolio-card--rod">
              <div class="portfolio-card__content">
                <h3 class="portfolio-card__title">
                    ROD
                  </h3>
                  <p class="portfolio-card__description">
                      Listen your favorite stories
                  </p>
                  <div class="portfolio-card__tags-container">
                    <div class="portfolio-card__tag">Multimedia</div>
                    <div class="portfolio-card__tag">Android</div>
                    <div class="portfolio-card__tag">IOS</div>
                    <div class="portfolio-card__tag">Israel</div>
                  </div>
              </div>
              <div class="portfolio-card__image" style="background-image: url('./dist/images/works/rod.png');"></div>
          </div>
        </div>  
      </section>
      <div class="last-block"></div>
    </div>
    <% include ./partials/footer %>    
    <script src="./dist/bundle.js"></script>
    
  </body>
</html>