<!DOCTYPE>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="wrapper company">
      <section class="works-title">
        <div class="container">
          <div class="company-logo">
            <img src="./dist/images/logos/logo-blue.png" alt="">
          </div>
          <h1 class="works-title__title block-title">
            We are IT-nity
          </h1>
          <h2 class="works-title__subtitle block-subtitle">
            We Bring Your Ideas to Life
          </h2>
          <p class="works-title__lead">
            Here's a small snapshot of the work delivered by IT-nity. Check out how we have 
            crafted our client’s ideas into products with the right market fit. Let us know 
            if something catches your eye.
          </p>
          <div class="company-text">
            <div class="company-pasionate">
              <h2 class="company-pasionate__title">Passionate about product</h2>
              <h3 class="company-pasionate__subtitle">Why Were Here</h3>
              <p class="company-pasionate__lead">
                We are product pros with decades of experience shipping user-friendly apps for successful companies. We started Rocket Insights to bring that experience to the agency world. We love the craft of software and we don't follow the traditional "outsider" agency model.
              </p>
              <p class="company-pasionate__lead">
                You bring your existing team (if you have one). Our senior practitioners will jump right in at your speed or level up your team if they’re more on the junior side. We pride ourselves on fitting in and working closely with your team to deliver great products. That’s our passion.
              </p>
            </div>
            <div class="company-pasionate">
                <h2 class="company-pasionate__title">Our Philosophy</h2>
                <h3 class="company-pasionate__subtitle">Strong Opinions, Loosely Held</h3>
                <p class="company-pasionate__lead">
                    We have lots of experience (and opinions!) about building products. We’ll give you our opinion on how to build, but we know enough to be flexible in every situation.
                </p>
                <h3 class="company-pasionate__subtitle">Technology is an Enabler</h3>
                <p class="company-pasionate__lead">
                    Technology enables great experiences. We like and use technology but we have tried hard to not fall in love with it. We don’t prescribe a single technology and use that on all projects because that it ultimately limiting. Instead, we assess each situation and its constraints to determine which technology is most appropriate for the job.
                </p>
                <h3 class="company-pasionate__subtitle">Customers Determine Happines</h3>
                <p class="company-pasionate__lead">
                    We’re not happy until our client *and their customers* are happy. While we strive to make all of our clients happy (100% of our clients are referrals) we keep pushing until we know that the end users are happy as well.
                </p>
                <h3 class="company-pasionate__subtitle">Dependable, Honest & Trustworthy</h3>
                <p class="company-pasionate__lead">
                    These are the qualities we admire in others and hold as ideals for ourselves. When we were hiring agencies in our previous careers we wanted these qualities and so we strive every day to deliver them.
                </p>
              </div>
          </div>
        </div>
      </section>
      <section class="team">
        <div class="container">
          <h2 class="team__title block-title">
            Our team
          </h2>   
          <p class="team__subtitle block-subtitle">
            Our company's leaders decide what IT-Nity is about, what direction we want to go, and how we get there
          </p> 
          <ul class="team-list">
            <li class="team-list__item">
              <div class="team-list__inner-item">
                <img src="./dist/images/team/member-1.png" alt="">
                <img src="./dist/images/team/member-1.png" alt="">
                <div class="team-list__item-content">
                  <h4 class="team-list__item-name">ADAM FRASER</h4>
                  <p class="team-list__item-position">Developer</p>
                </div>
              </div>
            </li>
            <li class="team-list__item">
              <div class="team-list__inner-item">
                <img src="./dist/images/team/member-1.png" alt="">
                <img src="./dist/images/team/member-1.png" alt="">
                <div class="team-list__item-content">
                  <h4 class="team-list__item-name">ADAM FRASER</h4>
                  <p class="team-list__item-position">Developer</p>
                </div>
              </div>
            </li>
            <li class="team-list__item">
              <div class="team-list__inner-item">
                <img src="./dist/images/team/member-1.png" alt="">
                <img src="./dist/images/team/member-1.png" alt="">
                <div class="team-list__item-content">
                  <h4 class="team-list__item-name">ADAM FRASER</h4>
                  <p class="team-list__item-position">Developer</p>
                </div>
              </div>
            </li>
            <li class="team-list__item">
              <div class="team-list__inner-item">
                <img src="./dist/images/team/member-1.png" alt="">
                <img src="./dist/images/team/member-1.png" alt="">
                <div class="team-list__item-content">
                  <h4 class="team-list__item-name">ADAM FRASER</h4>
                  <p class="team-list__item-position">Developer</p>
                </div>
              </div>
            </li>
            <li class="team-list__item">
              <div class="team-list__inner-item">
                <img src="./dist/images/team/member-1.png" alt="">
                <img src="./dist/images/team/member-1.png" alt="">
                <div class="team-list__item-content">
                  <h4 class="team-list__item-name">ADAM FRASER</h4>
                  <p class="team-list__item-position">Developer</p>
                </div>
              </div>
            </li>
            <li class="team-list__item">
              <div class="team-list__inner-item">
                <img src="./dist/images/team/member-1.png" alt="">
                <img src="./dist/images/team/member-1.png" alt="">
                <div class="team-list__item-content">
                  <h4 class="team-list__item-name">ADAM FRASER</h4>
                  <p class="team-list__item-position">Developer</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="company-location">
        <div class="container">
          <h2 class="block-title company-location__title">
              Let's build something great
          </h2>
          <p class="company-location__text">
            If you have an app that needs to be designed (or redesigned) and built, give us a holler at aloha@rocketinsights.com
          </p>
          <div class="company-location__address">
            <p>74 Water St.</p>
            <p>Newburyport, MA 01950</p>
            <p>aloha@rocketinsights.com</p>
            <p>T: (925) 854-1970</p>
          </div>
        </div>
      </section>
    </div>
    <% include ./partials/footer %>    
    <script src="./dist/bundle.js"></script>
    
  </body>
</html>