<!DOCTYPE>
<html>
  <% include ./partials/head %>
  <body>
   <% include ./partials/header %>
    <section class="hero-main">
      <div class="container">
        <h1 class="hero-main__title block-title">
          Expaned Your Prospects
        </h1>
        <h2 class="hero-main__subtitle">
          We solve the business problem with design, apps and technology
        </h2>
        <button class="hero-main__button">
          Book Free App Consultation
        </button>
        <div class="hero-main__image-container">
          <img src="./dist/images/hero-main/hero-main-1.png" alt="Descktop app">
          <img src="./dist/images/hero-main/hero-main-2.png" alt="Phone app">
        </div>
      </div>
    </section>
    <div class="fake-block"></div>
    <div class="wrapper">
      <section class="apocalypse-development" data-scroll="black">
        <div class="container">
          <h1 class="apocalypse-development__title block-title">
            Why mobile apps?
          </h1>
          <h2 class="apocalypse-development__subtitle block-subtitle">
            An app comes with optimal features like accessibility, 
            GPS, location services, augmented or virtual reality, and more.
          </h2>
          <div class="apocalypse-development__points-container">
            <article class="apocalypse-development__point">
              <div class="apocalypse-development__point-image" style="background-image: url('./dist/images/icons/icon-1.png')" alt="Agile"></div>
              <h3 class="apocalypse-development__point-title">Mobile App Development for Agile Companies</h3>
              <p class="apocalypse-development__point-lead">Cloud mobility is the de facto way of enhancing enterprise 
                productivity in today’s interconnected age. Location-centric activities have been replaced by a highly 
                mobile workforce that is transforming the IT infrastructure landscape. To achieve a strong competitive edge, 
                companies must provide their customers compelling mobile experiences, and equip employees with actionable customer 
                insights.
              </p>
            </article>
            <article class="apocalypse-development__point">
              <div class="apocalypse-development__point-image" style="background-image: url('./dist/images/icons/icon-2.png')" alt="Social media"></div>
              <h3 class="apocalypse-development__point-title">Mobile App Development for Social Media Companies</h3>
              <p class="apocalypse-development__point-lead">
                  As general social networking diffuses into society, new competitors are emerging to create networks 
                  that are more focused in purpose. Growth relies on making it easy for users to invite their contacts 
                  into the network. This expanding community adds to the network effects to attract new users. 
                  Sustaining interest comes through clean, personalized information feeds.
              </p>
            </article>
            <article class="apocalypse-development__point">
              <div class="apocalypse-development__point-image" style="background-image: url('./dist/images/icons/icon-3.png')" alt="Enteprises"></div>
              <h3 class="apocalypse-development__point-title">Mobile App Development for Enterprises</h3>
              <p class="apocalypse-development__point-lead">
                  Enterprise mobility emphasizes frictionless data access through beautiful UX that is 
                  supported by industrial grade security. Applications must be user friendly with 
                  dashboards and push notifications. APIs are also designed that are capable of 
                  integrating heterogeneous corporate and non-corporate services.
              </p>
            </article>
            <article class="apocalypse-development__point">
              <div class="apocalypse-development__point-image" style="background-image: url('./dist/images/icons/icon-4.png')" alt="Consumers"></div>
              <h3 class="apocalypse-development__point-title">Mobile App Development for Consumers</h3>
              <p class="apocalypse-development__point-lead">Mobile consumers are notoriously finicky about expecting 
                great UX that extends beyond the app itself to the functionality, and whether it is personalized, 
                location aware and more. When consumers have millions of choices, effective apps are developed based
                on core use-cases guided by minimalistic, intuitive designs.
              </p>
            </article> 
          </div>
        </div>
      </section>
      <section class="idea-tabs" data-scroll="black">
        <div class="container">
          <div class="idea-tabs__title-area">
            <h1 class="idea-tabs__title block-title">You have a good idea?</h1>
            <label for="switcher" class="switcher">
              <input type="checkbox" id="switcher">
              <span class="swithcher-selected yes">Yes</span>
              <span class="swithcher-selected no">No</span>
            </label>
          </div>
          <h2 class="idea-tabs__subtitle block-subtitle">
              You are an entrepreneur and don't really get how to integrate IT in your 
              business to increase profit?We will analyze your business and will help you answer some important questions.
            </h2>
          <div class="idea-tabs__tabs-container">
            <div class="idea-tabs__tab">
              <div class="idea-tabs__tab-picture">
                <img src="./dist/images/tabs/tab-no.png" alt="No idea">
              </div>
              <ul class="idea-tabs__tab-list">
                <li class="idea-tabs__list-item">How mobile and web applications can be <span class="blue-text">helpful for my business?</span></li>
                <li class="idea-tabs__list-item">How applications can increase my profit and decrease expenses?</li>
                <li class="idea-tabs__list-item">How to get closer to customers and find out what they need?</li>
                <li class="idea-tabs__list-item">How mobile apps <span class="blue-text">marketing works?</span></li>
                <li class="idea-tabs__list-item">How to bring my business to a new level and outrun competitors?</li>
              </ul>
            </div>
            <div class="idea-tabs__tab"></div>
          </div>
        </div>
      </section>
      <section class="gradient-block gradient-block--green" data-scroll="green">
        <div class="container">
          <h1 class="gradient-block__title block-title">
              How it works?
          </h1>
          <div class="gradient-block__items-container">
            <div class="gradient-block__item">
              <div class="gradient-block__item-img" style="background-image: url('./dist/images/icons/icon-5.png')"></div>
              <h3 class="gradient-block__item-title">Product Strategy</h3>
              <p class="gradient-block__item-lead">Cloud mobility is the de facto way of enhancing enterprise</p>
            </div>
            <div class="gradient-block__item">
              <div class="gradient-block__item-img" style="background-image: url('./dist/images/icons/icon-6.png')"></div>
              <h3 class="gradient-block__item-title">UI/UX Design</h3>
              <p class="gradient-block__item-lead">Cloud mobility is the de facto way of enhancing enterprise</p>
            </div>
            <div class="gradient-block__item">
              <div class="gradient-block__item-img" style="background-image: url('./dist/images/icons/icon-7.png')"></div>
              <h3 class="gradient-block__item-title">App Development</h3>
              <p class="gradient-block__item-lead">Cloud mobility is the de facto way of enhancing enterprise</p>
            </div>
            <div class="gradient-block__item">
              <div class="gradient-block__item-img" style="background-image: url('./dist/images/icons/icon-8.png')"></div>
              <h3 class="gradient-block__item-title">Launch</h3>
              <p class="gradient-block__item-lead">Cloud mobility is the de factoway of enhancing enterprise</p>
            </div>
          </div>
          <button class="gradient-block__button">
            LET START TO WORK TOGETHER NOW!
          </button>
        </div>
      </section>
      <section class="apocalypse-development apocalypse-development--center" data-scroll="black">
        <div class="container">
          <h1 class="apocalypse-development__title block-title">
            Why mobile apps?
          </h1>
          <h2 class="apocalypse-development__subtitle block-subtitle">
            An app comes with optimal features like accessibility, 
            GPS, location services, augmented or virtual reality, and more.
          </h2>
          <div class="apocalypse-development__points-container">
            <article class="apocalypse-development__point">
              <div class="apocalypse-development__point-image" style="background-image: url('./dist/images/icons/icon-9.png')" alt="Agile"></div>
              <h3 class="apocalypse-development__point-title">Save of time</h3>
              <p class="apocalypse-development__point-lead">
                It is proven that building MVP can make your app appear 
                even 60% faster. In a very short time you can get the main features of your app, you can give it 
                to your users and decide what to do next.
              </p>
            </article>
            <article class="apocalypse-development__point">
              <div class="apocalypse-development__point-image" style="background-image: url('./dist/images/icons/icon-10.png')" alt="Social media"></div>
              <h3 class="apocalypse-development__point-title">Quick results</h3>
              <p class="apocalypse-development__point-lead">
                  No one likes waiting for results. MVP provides you with a possibility to test your idea quickly on the market.
              </p>
            </article>
            <article class="apocalypse-development__point">
              <div class="apocalypse-development__point-image" style="background-image: url('./dist/images/icons/icon-11.png')" alt="Enteprises"></div>
              <h3 class="apocalypse-development__point-title">Save of money</h3>
              <p class="apocalypse-development__point-lead">
                  Fow MVP can save 70% of your budget? It's easy. You build and pay only for a 
                  few key features of your app. When it starts bringing 
                  you money, you can add other solutions you want.
              </p>
            </article>
            <article class="apocalypse-development__point">
              <div class="apocalypse-development__point-image" style="background-image: url('./dist/images/icons/icon-12.png')" alt="Consumers"></div>
              <h3 class="apocalypse-development__point-title">New opportunities</h3>
              <p class="apocalypse-development__point-lead">
                  When you give your app quickly to your customers, you'll see what people like and need. 
                  It will be true validation of your idea and great chance to improve it in many, new ways.
              </p>
            </article> 
          </div>
          <button class="apocalypse-development__button">Build your mvps</button>
        </div>
      </section>
      <section class="gradient-block gradient-block--orange gradient-block--center" data-scroll="orange">
        <div class="container">
          <h1 class="gradient-block__title block-title">
              What will you get
          </h1>
          <div class="gradient-block__items-container">
            <div class="gradient-block__item">
              <div class="gradient-block__item-img" style="background-image: url('./dist/images/icons/icon-13.png')"></div>
              <h3 class="gradient-block__item-title">Costumer Development Report</h3>
            </div>
            <div class="gradient-block__item">
              <div class="gradient-block__item-img" style="background-image: url('./dist/images/icons/icon-14.png')"></div>
              <h3 class="gradient-block__item-title">Interview questions</h3>
            </div>
            <div class="gradient-block__item">
              <div class="gradient-block__item-img" style="background-image: url('./dist/images/icons/icon-15.png')"></div>
              <h3 class="gradient-block__item-title">Research & Findings Report</h3>
            </div>
            <div class="gradient-block__item">
              <div class="gradient-block__item-img" style="background-image: url('./dist/images/icons/icon-16.png')"></div>
              <h3 class="gradient-block__item-title">A Basic Prototype</h3>
            </div>
          </div>
          <button class="gradient-block__button">
              KICKSTAR YOUR PRODUCT DEVELOPMENT
          </button>
        </div>
      </section>
      <section class="main-contact-form" data-scroll="black">
        <div class="container">
          <h2 class="main-contact-form__title block-title">
            Lets make your app idea successfull
          </h2>
          <div class="main-contact-form__content">
            <ul class="main-contact-form__points-list">
              <li class="main-contact-form__point">Totally <span class="blue-text">FREE 20-min</span> App Development Consultation for any topic you choose.</li>
              <li class="main-contact-form__point">Top solutions for creating MVP</li>
              <li class="main-contact-form__point"><span class="blue-text">100%</span> Confidential consultation! We sign NDA.</li>
              <li class="main-contact-form__point">Quick, non-obligation appraisal based on similarity to existing apps - <span class="blue-text">Fast Pricing Matrix</span></li>
              <li class="main-contact-form__point">The real chance to improve and execute your big app idea!</li>
            </ul>
            <div class="main-contact-form__form-container">
                <h3 class="main-contact-form__form-title">
                    Contact Us For a Free & Confidential 
                    App Consultationa
                </h3>
                <form action="" class="main-contact-form__form">
                  <div class="input-container">
                    <input type="text" class="form-input" name="name" placeholder="name*">
                  </div>
                  <div class="input-container">                    
                    <input type="text" class="form-input" name="email"  placeholder="email*">
                  </div>
                  <div class="input-container">                    
                    <textarea name="description" id="" cols="30" rows="10" placeholder="App description*"></textarea>
                  </div>
                  <label for="nda" class="checkbox">
                    <input type="checkbox" id="nda">
                    <div class="styled-checkbox">
                      <img src="./dist/images/support-icons/tick.png" alt="">
                    </div>  
                    <span>I want to sign an NDA</span>
                  </label>
                  <button class="submit-button">Book free app consultation</button>
                </form>
              </div>
          </div>
        </div>
      </section>
    </div>
    <% include ./partials/footer %>
    <script src="./dist/bundle.js"></script>
    
  </body>
</html>