<!DOCTYPE>
<html>
  <% include ./partials/head %>
  <body>
   <% include ./partials/header %>

    <div class="wrapper">
      <section class="hero-home">
        <div class="cells-container">
          <svg viewBox="0 0 1440 1029" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>cells</title>
            <desc>Created using Figma</desc>
            <g id="Canvas" transform="translate(2037 139)">
              <g id="cells">
                <g class="cell">
                  <use xlink:href="#path0_fill" transform="translate(-2066 -125)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path1_fill" transform="translate(-1955 -125)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path1_fill" transform="translate(-1844 -125)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path1_fill" transform="translate(-1733 -125)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path1_fill" transform="translate(-1622 -125)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path1_fill" transform="translate(-1511 -125)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path1_fill" transform="translate(-1400 -125)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path1_fill" transform="translate(-1289 -125)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path1_fill" transform="translate(-1178 -125)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path2_fill" transform="translate(-1067 -125)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path3_fill" transform="translate(-956 -125)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path3_fill" transform="translate(-845 -125)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path3_fill" transform="translate(-734 -125)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path3_fill" transform="translate(-623 -125)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path4_fill" transform="translate(-2010 -26)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path5_fill" transform="translate(-2121 -26)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path4_fill" transform="translate(-1899 -26)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path4_fill" transform="translate(-1788 -26)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path4_fill" transform="translate(-1677 -26)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path4_fill" transform="translate(-1566 -26)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path4_fill" transform="translate(-1455 -26)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path4_fill" transform="translate(-1344 -26)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path4_fill" transform="translate(-1233 -26)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path6_fill" transform="translate(-1122 -26)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path7_fill" transform="translate(-1011 -26)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path7_fill" transform="translate(-900 -26)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path7_fill" transform="translate(-789 -26)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path7_fill" transform="translate(-678 -26)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path8_fill" transform="translate(-2010 -224)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path9_fill" transform="translate(-2121 -224)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path8_fill" transform="translate(-1899 -224)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path8_fill" transform="translate(-1788 -224)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path8_fill" transform="translate(-1677 -224)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path8_fill" transform="translate(-1566 -224)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path8_fill" transform="translate(-1455 -224)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path8_fill" transform="translate(-1344 -224)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path8_fill" transform="translate(-1233 -224)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path10_fill" transform="translate(-1122 -224)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path11_fill" transform="translate(-1011 -224)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path11_fill" transform="translate(-900 -224)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path11_fill" transform="translate(-789 -224)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path11_fill" transform="translate(-678 -224)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path12_fill" transform="translate(-2065 73)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path13_fill" transform="translate(-1954 73)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path13_fill" transform="translate(-1843 73)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path13_fill" transform="translate(-1732 73)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path13_fill" transform="translate(-1621 73)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path13_fill" transform="translate(-1510 73)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path13_fill" transform="translate(-1399 73)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path13_fill" transform="translate(-1288 73)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path13_fill" transform="translate(-1177 73)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path14_fill" transform="translate(-1066 73)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path15_fill" transform="translate(-955 73)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path15_fill" transform="translate(-844 73)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path15_fill" transform="translate(-733 73)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path15_fill" transform="translate(-622 73)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path16_fill" transform="translate(-2009 172)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path17_fill" transform="translate(-2120 172)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path16_fill" transform="translate(-1898 172)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path16_fill" transform="translate(-1787 172)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path16_fill" transform="translate(-1676 172)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path16_fill" transform="translate(-1565 172)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path16_fill" transform="translate(-1454 172)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path16_fill" transform="translate(-1343 172)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path16_fill" transform="translate(-1232 172)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path18_fill" transform="translate(-1121 172)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path19_fill" transform="translate(-1010 172)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path19_fill" transform="translate(-899 172)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path19_fill" transform="translate(-788 172)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path19_fill" transform="translate(-677 172)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path20_fill" transform="translate(-2064 271)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path21_fill" transform="translate(-1953 271)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path21_fill" transform="translate(-1842 271)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path21_fill" transform="translate(-1731 271)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path21_fill" transform="translate(-1620 271)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path21_fill" transform="translate(-1509 271)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path21_fill" transform="translate(-1398 271)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path21_fill" transform="translate(-1287 271)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path21_fill" transform="translate(-1176 271)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path22_fill" transform="translate(-1065 271)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path23_fill" transform="translate(-954 271)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path23_fill" transform="translate(-843 271)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path23_fill" transform="translate(-732 271)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path23_fill" transform="translate(-621 271)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path21_fill" transform="translate(-2008 370)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path24_fill" transform="translate(-2119 370)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path21_fill" transform="translate(-1897 370)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path21_fill" transform="translate(-1786 370)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path21_fill" transform="translate(-1675 370)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path21_fill" transform="translate(-1564 370)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path21_fill" transform="translate(-1453 370)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path21_fill" transform="translate(-1342 370)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path21_fill" transform="translate(-1231 370)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path25_fill" transform="translate(-1120 370)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path23_fill" transform="translate(-1009 370)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path23_fill" transform="translate(-898 370)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path23_fill" transform="translate(-787 370)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path23_fill" transform="translate(-676 370)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path26_fill" transform="translate(-2063 469)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path27_fill" transform="translate(-1952 469)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path27_fill" transform="translate(-1841 469)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path27_fill" transform="translate(-1730 469)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path27_fill" transform="translate(-1619 469)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path27_fill" transform="translate(-1508 469)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path27_fill" transform="translate(-1397 469)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path27_fill" transform="translate(-1286 469)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path27_fill" transform="translate(-1175 469)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path28_fill" transform="translate(-1064 469)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path29_fill" transform="translate(-953 469)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path29_fill" transform="translate(-842 469)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path29_fill" transform="translate(-731 469)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path29_fill" transform="translate(-620 469)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-2007 568)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path31_fill" transform="translate(-2118 568)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-1896 568)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-1785 568)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-1674 568)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-1563 568)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-1452 568)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-1341 568)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-1230 568)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path32_fill" transform="translate(-1119 568)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path33_fill" transform="translate(-1008 568)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path33_fill" transform="translate(-897 568)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path33_fill" transform="translate(-786 568)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path33_fill" transform="translate(-675 568)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-2007 765)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path31_fill" transform="translate(-2118 765)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-1896 765)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-1785 765)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-1674 765)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-1563 765)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-1452 765)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-1341 765)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-1230 765)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path32_fill" transform="translate(-1119 765)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path33_fill" transform="translate(-1008 765)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path33_fill" transform="translate(-897 765)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path33_fill" transform="translate(-786 765)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path33_fill" transform="translate(-675 765)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path34_fill" transform="translate(-2063 667)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-1952 667)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-1841 667)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-1730 667)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-1619 667)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-1508 667)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-1397 667)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-1286 667)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path30_fill" transform="translate(-1175 667)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path35_fill" transform="translate(-1064 667)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path33_fill" transform="translate(-953 667)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path33_fill" transform="translate(-842 667)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path33_fill" transform="translate(-731 667)" />
                </g>
                <g class="cell">
                  <use xlink:href="#path33_fill" transform="translate(-620 667)" />
                </g>
              </g>
            </g>
            <defs>
              <path id="path0_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7583 121.809L 4.75635 95.8689C 1.7959 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.7959 29.1649 4.75635 27.3842L 47.7583 1.44381C 50.9615 -0.48127 54.9899 -0.48127 58.1932 1.44381L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.2389 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8502 117.765C 53.5439 120.282 49.6002 118.664 48.1044 117.765L 7.94238 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.2389 7.94238 29.5758L 48.1044 5.34846C 51.0962 3.55051 54.8585 3.55051 57.8502 5.34846L 98.0577 29.5758Z"/>
              <path id="path1_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7583 121.809L 4.75647 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75647 27.3842L 47.7583 1.44381C 50.9615 -0.48127 54.9899 -0.48127 58.1932 1.44381L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.2389 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8502 117.765C 53.5439 120.282 49.6002 118.664 48.1044 117.765L 7.94226 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.2389 7.94226 29.5758L 48.1044 5.34846C 51.0962 3.55051 54.8585 3.55051 57.8502 5.34846L 98.0577 29.5758Z"/>
              <path id="path2_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7582 121.809L 4.75647 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75647 27.3842L 47.7582 1.44381C 50.9615 -0.48127 54.9899 -0.48127 58.1932 1.44381L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.2389 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8503 117.765C 53.5439 120.282 49.6003 118.664 48.1044 117.765L 7.94226 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.2389 7.94226 29.5758L 48.1044 5.34846C 51.0961 3.55051 54.8585 3.55051 57.8503 5.34846L 98.0577 29.5758Z"/>
              <path id="path3_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7582 121.809L 4.75641 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75641 27.3842L 47.7582 1.44381C 50.9615 -0.48127 54.9899 -0.48127 58.1932 1.44381L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.2389 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8503 117.765C 53.5439 120.282 49.6003 118.664 48.1044 117.765L 7.94232 93.5379C 5.17719 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17719 31.2389 7.94232 29.5758L 48.1044 5.34846C 51.0961 3.55051 54.8585 3.55051 57.8503 5.34846L 98.0577 29.5758Z"/>
              <path id="path4_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7583 121.809L 4.75647 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75647 27.3842L 47.7583 1.44381C 50.9615 -0.48127 54.9899 -0.48127 58.1932 1.44381L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.2389 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8502 117.765C 53.5439 120.282 49.6002 118.664 48.1044 117.765L 7.94226 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.2389 7.94226 29.5758L 48.1044 5.34846C 51.0962 3.55051 54.8585 3.55051 57.8502 5.34846L 98.0577 29.5758Z"/>
              <path id="path5_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1931 121.809C 53.5825 124.504 49.3599 122.772 47.7583 121.809L 4.75635 95.8689C 1.7959 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.7959 29.1649 4.75635 27.3842L 47.7583 1.44381C 50.9614 -0.48127 54.99 -0.48127 58.1931 1.44381L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.2389 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8503 117.765C 53.5439 120.282 49.6003 118.664 48.1045 117.765L 7.94238 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.2389 7.94238 29.5758L 48.1045 5.34846C 51.0962 3.55051 54.8584 3.55051 57.8503 5.34846L 98.0577 29.5758Z"/>
              <path id="path6_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7583 121.809L 4.75647 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75647 27.3842L 47.7583 1.44381C 50.9615 -0.48127 54.9899 -0.48127 58.1932 1.44381L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.2389 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8502 117.765C 53.5439 120.282 49.6002 118.664 48.1044 117.765L 7.94226 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.2389 7.94226 29.5758L 48.1044 5.34846C 51.0962 3.55051 54.8585 3.55051 57.8502 5.34846L 98.0577 29.5758Z"/>
              <path id="path7_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7582 121.809L 4.75641 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75641 27.3842L 47.7582 1.44381C 50.9615 -0.48127 54.9899 -0.48127 58.1932 1.44381L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.2389 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8503 117.765C 53.5439 120.282 49.6003 118.664 48.1044 117.765L 7.94232 93.5379C 5.17719 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17719 31.2389 7.94232 29.5758L 48.1044 5.34846C 51.0961 3.55051 54.8585 3.55051 57.8503 5.34846L 98.0577 29.5758Z"/>
              <path id="path8_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7583 121.809L 4.75647 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75647 27.3842L 47.7583 1.4438C 50.9615 -0.481262 54.9899 -0.481262 58.1932 1.4438L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.2389 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8502 117.765C 53.5439 120.282 49.6002 118.664 48.1044 117.765L 7.94226 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.2389 7.94226 29.5758L 48.1044 5.34846C 51.0962 3.55051 54.8585 3.55051 57.8502 5.34846L 98.0577 29.5758Z"/>
              <path id="path9_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1931 121.809C 53.5825 124.504 49.3599 122.772 47.7583 121.809L 4.75635 95.8689C 1.7959 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.7959 29.1649 4.75635 27.3842L 47.7583 1.4438C 50.9614 -0.481262 54.99 -0.481262 58.1931 1.4438L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.2389 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8503 117.765C 53.5439 120.282 49.6003 118.664 48.1045 117.765L 7.94238 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.2389 7.94238 29.5758L 48.1045 5.34846C 51.0962 3.55051 54.8584 3.55051 57.8503 5.34846L 98.0577 29.5758Z"/>
              <path id="path10_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7583 121.809L 4.75647 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75647 27.3842L 47.7583 1.4438C 50.9615 -0.481262 54.9899 -0.481262 58.1932 1.4438L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.2389 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8502 117.765C 53.5439 120.282 49.6002 118.664 48.1044 117.765L 7.94226 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.2389 7.94226 29.5758L 48.1044 5.34846C 51.0962 3.55051 54.8585 3.55051 57.8502 5.34846L 98.0577 29.5758Z"/>
              <path id="path11_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7582 121.809L 4.75641 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75641 27.3842L 47.7582 1.4438C 50.9615 -0.481262 54.9899 -0.481262 58.1932 1.4438L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.2389 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8503 117.765C 53.5439 120.282 49.6003 118.664 48.1044 117.765L 7.94232 93.5379C 5.17719 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17719 31.2389 7.94232 29.5758L 48.1044 5.34846C 51.0961 3.55051 54.8585 3.55051 57.8503 5.34846L 98.0577 29.5758Z"/>
              <path id="path12_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7583 121.809L 4.75635 95.8689C 1.7959 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.7959 29.1649 4.75635 27.3842L 47.7583 1.44381C 50.9615 -0.48127 54.9899 -0.48127 58.1932 1.44381L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.2389 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8502 117.765C 53.5439 120.282 49.6002 118.664 48.1044 117.765L 7.94238 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.2389 7.94238 29.5758L 48.1044 5.34846C 51.0962 3.55051 54.8585 3.55051 57.8502 5.34846L 98.0577 29.5758Z"/>
              <path id="path13_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7583 121.809L 4.75647 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75647 27.3842L 47.7583 1.44381C 50.9615 -0.48127 54.9899 -0.48127 58.1932 1.44381L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.2389 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8502 117.765C 53.5439 120.282 49.6002 118.664 48.1044 117.765L 7.94226 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.2389 7.94226 29.5758L 48.1044 5.34846C 51.0962 3.55051 54.8585 3.55051 57.8502 5.34846L 98.0577 29.5758Z"/>
              <path id="path14_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7582 121.809L 4.75647 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75647 27.3842L 47.7582 1.44381C 50.9615 -0.48127 54.9899 -0.48127 58.1932 1.44381L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.2389 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8503 117.765C 53.5439 120.282 49.6003 118.664 48.1044 117.765L 7.94226 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.2389 7.94226 29.5758L 48.1044 5.34846C 51.0961 3.55051 54.8585 3.55051 57.8503 5.34846L 98.0577 29.5758Z"/>
              <path id="path15_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7582 121.809L 4.75641 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75641 27.3842L 47.7582 1.44381C 50.9615 -0.48127 54.9899 -0.48127 58.1932 1.44381L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.2389 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8503 117.765C 53.5439 120.282 49.6003 118.664 48.1044 117.765L 7.94232 93.5379C 5.17719 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17719 31.2389 7.94232 29.5758L 48.1044 5.34846C 51.0961 3.55051 54.8585 3.55051 57.8503 5.34846L 98.0577 29.5758Z"/>
              <path id="path16_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7583 121.809L 4.75647 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75647 27.3842L 47.7583 1.4438C 50.9615 -0.481262 54.9899 -0.481262 58.1932 1.4438L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.2389 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8502 117.765C 53.5439 120.282 49.6002 118.664 48.1044 117.765L 7.94226 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.2389 7.94226 29.5758L 48.1044 5.34846C 51.0962 3.55051 54.8585 3.55051 57.8502 5.34846L 98.0577 29.5758Z"/>
              <path id="path17_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1931 121.809C 53.5825 124.504 49.3599 122.772 47.7583 121.809L 4.75635 95.8689C 1.7959 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.7959 29.1649 4.75635 27.3842L 47.7583 1.4438C 50.9614 -0.481262 54.99 -0.481262 58.1931 1.4438L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.2389 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8503 117.765C 53.5439 120.282 49.6003 118.664 48.1045 117.765L 7.94238 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.2389 7.94238 29.5758L 48.1045 5.34846C 51.0962 3.55051 54.8584 3.55051 57.8503 5.34846L 98.0577 29.5758Z"/>
              <path id="path18_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7583 121.809L 4.75647 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75647 27.3842L 47.7583 1.4438C 50.9615 -0.481262 54.9899 -0.481262 58.1932 1.4438L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.2389 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8502 117.765C 53.5439 120.282 49.6002 118.664 48.1044 117.765L 7.94226 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.2389 7.94226 29.5758L 48.1044 5.34846C 51.0962 3.55051 54.8585 3.55051 57.8502 5.34846L 98.0577 29.5758Z"/>
              <path id="path19_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7582 121.809L 4.75641 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75641 27.3842L 47.7582 1.4438C 50.9615 -0.481262 54.9899 -0.481262 58.1932 1.4438L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.2389 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8503 117.765C 53.5439 120.282 49.6003 118.664 48.1044 117.765L 7.94232 93.5379C 5.17719 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17719 31.2389 7.94232 29.5758L 48.1044 5.34846C 51.0961 3.55051 54.8585 3.55051 57.8503 5.34846L 98.0577 29.5758Z"/>
              <path id="path20_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7583 121.809L 4.75635 95.8689C 1.7959 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.7959 29.1649 4.75635 27.3842L 47.7583 1.44382C 50.9615 -0.481262 54.9899 -0.481262 58.1932 1.44382L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.239 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8502 117.765C 53.5439 120.282 49.6002 118.664 48.1044 117.765L 7.94238 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.239 7.94238 29.5758L 48.1044 5.34845C 51.0962 3.55051 54.8585 3.55051 57.8502 5.34845L 98.0577 29.5758Z"/>
              <path id="path21_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7583 121.809L 4.75647 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75647 27.3842L 47.7583 1.44382C 50.9615 -0.481262 54.9899 -0.481262 58.1932 1.44382L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.239 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8502 117.765C 53.5439 120.282 49.6002 118.664 48.1044 117.765L 7.94226 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.239 7.94226 29.5758L 48.1044 5.34845C 51.0962 3.55051 54.8585 3.55051 57.8502 5.34845L 98.0577 29.5758Z"/>
              <path id="path22_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7582 121.809L 4.75647 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75647 27.3842L 47.7582 1.44382C 50.9615 -0.481262 54.9899 -0.481262 58.1932 1.44382L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.239 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8503 117.765C 53.5439 120.282 49.6003 118.664 48.1044 117.765L 7.94226 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.239 7.94226 29.5758L 48.1044 5.34845C 51.0961 3.55051 54.8585 3.55051 57.8503 5.34845L 98.0577 29.5758Z"/>
              <path id="path23_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7582 121.809L 4.75641 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75641 27.3842L 47.7582 1.44382C 50.9615 -0.481262 54.9899 -0.481262 58.1932 1.44382L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.239 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8503 117.765C 53.5439 120.282 49.6003 118.664 48.1044 117.765L 7.94232 93.5379C 5.17719 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17719 31.239 7.94232 29.5758L 48.1044 5.34845C 51.0961 3.55051 54.8585 3.55051 57.8503 5.34845L 98.0577 29.5758Z"/>
              <path id="path24_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1931 121.809C 53.5825 124.504 49.3599 122.772 47.7583 121.809L 4.75635 95.8689C 1.7959 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.7959 29.1649 4.75635 27.3842L 47.7583 1.44382C 50.9614 -0.481262 54.99 -0.481262 58.1931 1.44382L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.239 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8503 117.765C 53.5439 120.282 49.6003 118.664 48.1045 117.765L 7.94238 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.239 7.94238 29.5758L 48.1045 5.34845C 51.0962 3.55051 54.8584 3.55051 57.8503 5.34845L 98.0577 29.5758Z"/>
              <path id="path25_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7583 121.809L 4.75647 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75647 27.3842L 47.7583 1.44382C 50.9615 -0.481262 54.9899 -0.481262 58.1932 1.44382L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.239 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9198 98.0123 93.5379L 57.8502 117.765C 53.5439 120.282 49.6002 118.664 48.1044 117.765L 7.94226 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.239 7.94226 29.5758L 48.1044 5.34845C 51.0962 3.55051 54.8585 3.55051 57.8502 5.34845L 98.0577 29.5758Z"/>
              <path id="path26_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7583 121.809L 4.75635 95.8689C 1.7959 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.7959 29.1649 4.75635 27.3842L 47.7583 1.44382C 50.9615 -0.481262 54.9899 -0.481262 58.1932 1.44382L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.239 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9197 98.0123 93.5379L 57.8502 117.765C 53.5439 120.282 49.6002 118.664 48.1044 117.765L 7.94238 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.239 7.94238 29.5758L 48.1044 5.34845C 51.0962 3.55051 54.8585 3.55051 57.8502 5.34845L 98.0577 29.5758Z"/>
              <path id="path27_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7583 121.809L 4.75647 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75647 27.3842L 47.7583 1.44382C 50.9615 -0.481262 54.9899 -0.481262 58.1932 1.44382L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.239 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9197 98.0123 93.5379L 57.8502 117.765C 53.5439 120.282 49.6002 118.664 48.1044 117.765L 7.94226 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.239 7.94226 29.5758L 48.1044 5.34845C 51.0962 3.55051 54.8585 3.55051 57.8502 5.34845L 98.0577 29.5758Z"/>
              <path id="path28_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7582 121.809L 4.75647 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75647 27.3842L 47.7582 1.44382C 50.9615 -0.481262 54.9899 -0.481262 58.1932 1.44382L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.239 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9197 98.0123 93.5379L 57.8503 117.765C 53.5439 120.282 49.6003 118.664 48.1044 117.765L 7.94226 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.239 7.94226 29.5758L 48.1044 5.34845C 51.0961 3.55051 54.8585 3.55051 57.8503 5.34845L 98.0577 29.5758Z"/>
              <path id="path29_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7582 121.809L 4.75641 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75641 27.3842L 47.7582 1.44382C 50.9615 -0.481262 54.9899 -0.481262 58.1932 1.44382L 101.244 27.3842ZM 98.0577 29.5758C 100.823 31.239 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9197 98.0123 93.5379L 57.8503 117.765C 53.5439 120.282 49.6003 118.664 48.1044 117.765L 7.94232 93.5379C 5.17719 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17719 31.239 7.94232 29.5758L 48.1044 5.34845C 51.0961 3.55051 54.8585 3.55051 57.8503 5.34845L 98.0577 29.5758Z"/>
              <path id="path30_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7583 121.809L 4.75647 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75647 27.3842L 47.7583 1.44379C 50.9615 -0.481262 54.9899 -0.481262 58.1932 1.44379L 101.244 27.3842ZM 98.0577 29.5759C 100.823 31.239 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9197 98.0123 93.5379L 57.8502 117.765C 53.5439 120.282 49.6002 118.664 48.1044 117.765L 7.94226 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.239 7.94226 29.5759L 48.1044 5.34845C 51.0962 3.55054 54.8585 3.55054 57.8502 5.34845L 98.0577 29.5759Z"/>
              <path id="path31_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1931 121.809C 53.5825 124.504 49.3599 122.772 47.7583 121.809L 4.75635 95.8689C 1.7959 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.7959 29.1649 4.75635 27.3842L 47.7583 1.44379C 50.9614 -0.481262 54.99 -0.481262 58.1931 1.44379L 101.244 27.3842ZM 98.0577 29.5759C 100.823 31.239 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9197 98.0123 93.5379L 57.8503 117.765C 53.5439 120.282 49.6003 118.664 48.1045 117.765L 7.94238 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.239 7.94238 29.5759L 48.1045 5.34845C 51.0962 3.55054 54.8584 3.55054 57.8503 5.34845L 98.0577 29.5759Z"/>
              <path id="path32_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7583 121.809L 4.75647 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75647 27.3842L 47.7583 1.44379C 50.9615 -0.481262 54.9899 -0.481262 58.1932 1.44379L 101.244 27.3842ZM 98.0577 29.5759C 100.823 31.239 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9197 98.0123 93.5379L 57.8502 117.765C 53.5439 120.282 49.6002 118.664 48.1044 117.765L 7.94226 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.239 7.94226 29.5759L 48.1044 5.34845C 51.0962 3.55054 54.8585 3.55054 57.8502 5.34845L 98.0577 29.5759Z"/>
              <path id="path33_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7582 121.809L 4.75641 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75641 27.3842L 47.7582 1.44379C 50.9615 -0.481262 54.9899 -0.481262 58.1932 1.44379L 101.244 27.3842ZM 98.0577 29.5759C 100.823 31.239 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9197 98.0123 93.5379L 57.8503 117.765C 53.5439 120.282 49.6003 118.664 48.1044 117.765L 7.94232 93.5379C 5.17719 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17719 31.239 7.94232 29.5759L 48.1044 5.34845C 51.0961 3.55054 54.8585 3.55054 57.8503 5.34845L 98.0577 29.5759Z"/>
              <path id="path34_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7583 121.809L 4.75635 95.8689C 1.7959 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.7959 29.1649 4.75635 27.3842L 47.7583 1.44379C 50.9615 -0.481262 54.9899 -0.481262 58.1932 1.44379L 101.244 27.3842ZM 98.0577 29.5759C 100.823 31.239 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9197 98.0123 93.5379L 57.8502 117.765C 53.5439 120.282 49.6002 118.664 48.1044 117.765L 7.94238 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.239 7.94238 29.5759L 48.1044 5.34845C 51.0962 3.55054 54.8585 3.55054 57.8502 5.34845L 98.0577 29.5759Z"/>
              <path id="path35_fill" fill-rule="evenodd" d="M 101.244 27.3842C 104.204 29.1649 106 32.2932 106 35.7102L 106 87.5429C 106 90.9599 104.204 94.1363 101.195 95.8689L 58.1932 121.809C 53.5824 124.504 49.3599 122.772 47.7582 121.809L 4.75647 95.8689C 1.79578 94.0882 0 90.9599 0 87.5429L 0 35.7102C 0 32.3413 1.79578 29.1649 4.75647 27.3842L 47.7582 1.44379C 50.9615 -0.481262 54.9899 -0.481262 58.1932 1.44379L 101.244 27.3842ZM 98.0577 29.5759C 100.823 31.239 102.5 34.1606 102.5 37.352L 102.5 85.7618C 102.5 88.9531 100.823 91.9197 98.0123 93.5379L 57.8503 117.765C 53.5439 120.282 49.6003 118.664 48.1044 117.765L 7.94226 93.5379C 5.17725 91.8748 3.5 88.9531 3.5 85.7618L 3.5 37.352C 3.5 34.2056 5.17725 31.239 7.94226 29.5759L 48.1044 5.34845C 51.0961 3.55054 54.8585 3.55054 57.8503 5.34845L 98.0577 29.5759Z"/>
            </defs>
          </svg>
        </div>
        <div class="container">
          <h1 class="hero-home__titile">
            Expand Your Prospects
          </h1>
          <p class="hero-home__lead">
            We solve the business problem with design, apps and technology
          </p>
          <a href="" class="button white-long">BOOK FREE APP CONSULTATION</a>
        </div>
      </section>
      <section class="about-content">
        <div class="container">
          <div class="about-content__two-col">
            <div class="about-content__lead">
              <h3 class="about-content__title">
                How can we help you?
              </h3>
              <h4 class="about-content__subtitle">
                Mobile Development for Agile Companies
              </h4>
              <p class="about-content__lead">
                Cloud mobility is the de facto way of enhancing enterprise productivity in todays
                interconnected age. Location-centric activities have been replaced by a highly mobile
                workforce that is transforming the IT infrastructure landscape. To achieve a strong
                competitive edge, companies must provide their customers compelling mobile experiences,
                and equip employees with actionable customer insights.
              </p>
            </div>
            <div class="about-content__image">
              <img src="./dist/images/home/user.png" alt="">
            </div>
          </div>
          <div class="about-content__two-col">
            <div class="about-content__image">
              <img src="./dist/images/home/social-media.png" alt="">
            </div>
            <div class="about-content__lead">
              <h4 class="about-content__subtitle">
                Mobile Development for Social Media Companies
              </h4>

              <p class="about-content__lead">
                As general social networking diffuses into society, new competitors are emerging to create networks
                that are more focused in purpose. Growth relies on making it easy for users to invite their contacts
                into the network. This expanding community adds to the network effects to attract new users.
                Sustaining interest comes through clean, personalized information feeds.
              </p>
            </div>
          </div>
          <div class="about-content__two-col">
            <div class="about-content__lead">
              <h4 class="about-content__subtitle">
                Mobile  Development for Enterprises
              </h4>
              <p class="about-content__lead">
                Enterprise mobility emphasizes frictionless data access through beautiful UX that is
                supported by industrial grade security. Applications must be user friendly with
                dashboards and push notifications. APIs are also designed that are capable of
                integrating heterogeneous corporate and non-corporate services.
              </p>
            </div>
            <div class="about-content__image">
              <img src="./dist/images/home/briefcase.png" alt="">
            </div>
          </div>
          <div class="about-content__two-col">
            <div class="about-content__image">
              <img src="./dist/images/home/online-store.png" alt="">
            </div>
            <div class="about-content__lead">
              <h4 class="about-content__subtitle">
                Mobile Development for Consumers
              </h4>

              <p class="about-content__lead">
                Mobile consumers are notoriously finicky about expecting great UX that extends beyond the
                app itself to the functionality, and whether it is personalized, location aware and
                more. When consumers have millions of choices, effective apps are developed based
                on core use-cases guided by minimalistic, intuitive designs.
              </p>
            </div>

          </div>
        </div>
      </section>
      <section class="idea-tabs services-design--home services-design" data-scroll="black">
        <div class="container">
          <div class="idea-tabs__title-area">
            <h1 class="idea-tabs__title block-title">You have a good idea?</h1>
            <label for="switcher" class="switcher">
              <input type="checkbox" id="switcher">
              <span class="swithcher-selected yes">Yes</span>
              <span class="swithcher-selected no">No</span>
            </label>
          </div>
          <h2 class="idea-tabs__subtitle block-subtitle">
              You are an entrepreneur and don't really get how to integrate IT in your 
              business to increase profit?We will analyze your business and will help you answer some important questions.
            </h2>
          <div class="idea-tabs__tabs-container">
            <div class="idea-tabs__tab active visible" id="no-idea">
              <div class="idea-tabs__tab-picture">
                <img src="./dist/images/tabs/idea_yes.png" alt="No idea">
              </div>
              <ul class="idea-tabs__tab-list">
                <li class="idea-tabs__list-item">How mobile and web applications can be helpful for my business?</li>
                <li class="idea-tabs__list-item">How applications can increase my profit and decrease expenses?</li>
                <li class="idea-tabs__list-item">How to get closer to customers and find out what they need?</li>
                <li class="idea-tabs__list-item">How mobile apps marketing works?</li>
                <li class="idea-tabs__list-item">How to bring my business to a new level and outrun competitors?</li>
              </ul>
            </div>
            <div class="idea-tabs__tab" id="yes-idea">
              <div class="idea-tabs__tab-picture">
                <img src="./dist/images/tabs/tab-no.png" alt="No idea">
              </div>
              <ul class="idea-tabs__tab-list">
                <li class="idea-tabs__list-item">How mobile and web applications can be helpful for my business?</li>
                <li class="idea-tabs__list-item">How applications can increase my profit and decrease expenses?</li>
                <li class="idea-tabs__list-item">How to get closer to customers and find out what they need?</li>
                <li class="idea-tabs__list-item">How mobile apps marketing works?</li>
                <li class="idea-tabs__list-item">How to bring my business to a new level and outrun competitors?</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="what-get">
          <div class="container">
              <h3 class="what-get__title">
                What will you get?
              </h3>
              <div class="what-get__items">
                  <div class="what-get__item">
                    <img src="./dist/images/what-get/analytics-2.png" alt="">
                    <p>Research & Findings Reports</p>
                  </div>
                  <div class="what-get__item">
                    <img src="./dist/images/what-get/clipboard.png" alt="">
                    <p>Development Plan</p>
                  </div>
                  <div class="what-get__item">
                    <img src="./dist/images/what-get/smartphone.png" alt="">
                    <p>Ready Product</p>
                  </div>
              </div>
          </div>
      </section>
      <section class="main-contact-form" data-scroll="black">
        <div class="container">
            <div class="main-contact-form__form-container">
                <form action="" class="main-contact-form__form">
                  <div class="input-container">
                    <input type="text" class="form-input" name="name" placeholder="Your name">
                  </div>
                  <div class="input-container">                    
                    <input type="text" class="form-input" name="email"  placeholder="Your e-mail">
                  </div>
                  <div class="input-container">                    
                    <textarea name="description" id="" cols="30" rows="10" placeholder="Tell us about your needs"></textarea>
                  </div>
                  <label for="nda" class="checkbox">
                    <input type="checkbox" id="nda">
                    <div class="styled-checkbox">
                      <img src="./dist/images/support-icons/tick.svg" alt="">
                    </div>  
                    <span>I want to sign an NDA</span>
                  </label>
                  <button class="submit-button">Book free app consultation</button>
                </form>
                <div class="ba-container">
                  <img src="./dist/images/team/member-4.png" alt="">
                  <p class="ba-name">
                    Artem Getman
                  </p>
                  <p class="ba-pos">
                    Business Development <br> Specialist
                  </p>
                </div>
              </div>
          </div>
        </div>
      </section>
    </div>
    <% include ./partials/footer %>
  </body>
</html>