<!DOCTYPE>
<html>
  <% include ./partials/head %>
  <body>
   <% include ./partials/header %>

    <div class="wrapper">
      <section class="hero-home">
        <div class="container">
          <h1 class="hero-home__titile">
            Expand Your Prospects
          </h1>
          <p class="hero-home__lead">
            We solve the business problem with design, apps and technology
          </p>
          <a href="" class="button white-long">BOOK FREE APP CONSULTATION</a>
        </div>
      </section>
      <section class="about-content">
        <div class="container">
          <div class="about-content__two-col">
            <div class="about-content__lead">
              <h3 class="about-content__title">
                How can we help you?
              </h3>
              <h4 class="about-content__subtitle">
                Mobile Development for Agile Companies
              </h4>
              <p class="about-content__lead">
                Cloud mobility is the de facto way of enhancing enterprise productivity in today’s
                interconnected age. Location-centric activities have been replaced by a highly mobile
                workforce that is transforming the IT infrastructure landscape. To achieve a strong
                competitive edge, companies must provide their customers compelling mobile experiences,
                and equip employees with actionable customer insights.
              </p>
            </div>
            <div class="about-content__image">
              <img src="./dist/images/home/user.png" alt="">
            </div>
          </div>
          <div class="about-content__two-col">
            <div class="about-content__image">
              <img src="./dist/images/home/social-media.png" alt="">
            </div>
            <div class="about-content__lead">
              <h4 class="about-content__subtitle">
                Mobile Development for Social Media Companies
              </h4>

              <p class="about-content__lead">
                As general social networking diffuses into society, new competitors are emerging to create networks
                that are more focused in purpose. Growth relies on making it easy for users to invite their contacts
                into the network. This expanding community adds to the network effects to attract new users.
                Sustaining interest comes through clean, personalized information feeds.
              </p>
            </div>
          </div>
          <div class="about-content__two-col">
            <div class="about-content__lead">
              <h4 class="about-content__subtitle">
                Mobile  Development for Enterprises
              </h4>
              <p class="about-content__lead">
                Enterprise mobility emphasizes frictionless data access through beautiful UX that is
                supported by industrial grade security. Applications must be user friendly with
                dashboards and push notifications. APIs are also designed that are capable of
                integrating heterogeneous corporate and non-corporate services.
              </p>
            </div>
            <div class="about-content__image">
              <img src="./dist/images/home/briefcase.png" alt="">
            </div>
          </div>
          <div class="about-content__two-col">
            <div class="about-content__image">
              <img src="./dist/images/home/online-store.png" alt="">
            </div>
            <div class="about-content__lead">
              <h4 class="about-content__subtitle">
                Mobile Development for Consumers
              </h4>

              <p class="about-content__lead">
                Mobile consumers are notoriously finicky about expecting great UX that extends beyond the
                app itself to the functionality, and whether it is personalized, location aware and
                more. When consumers have millions of choices, effective apps are developed based
                on core use-cases guided by minimalistic, intuitive designs.
              </p>
            </div>

          </div>
        </div>
      </section>
      <section class="idea-tabs services-design--home services-design" data-scroll="black">
        <div class="container">
          <div class="idea-tabs__title-area">
            <h1 class="idea-tabs__title block-title">You have a good idea?</h1>
            <label for="switcher" class="switcher">
              <input type="checkbox" id="switcher">
              <span class="swithcher-selected yes">Yes</span>
              <span class="swithcher-selected no">No</span>
            </label>
          </div>
          <h2 class="idea-tabs__subtitle block-subtitle">
              You are an entrepreneur and don't really get how to integrate IT in your 
              business to increase profit?We will analyze your business and will help you answer some important questions.
            </h2>
          <div class="idea-tabs__tabs-container">
            <div class="idea-tabs__tab active visible" id="no-idea">
              <div class="idea-tabs__tab-picture">
                <img src="./dist/images/tabs/idea_yes.png" alt="No idea">
              </div>
              <ul class="idea-tabs__tab-list">
                <li class="idea-tabs__list-item">How mobile and web applications can be helpful for my business?</li>
                <li class="idea-tabs__list-item">How applications can increase my profit and decrease expenses?</li>
                <li class="idea-tabs__list-item">How to get closer to customers and find out what they need?</li>
                <li class="idea-tabs__list-item">How mobile apps marketing works?</li>
                <li class="idea-tabs__list-item">How to bring my business to a new level and outrun competitors?</li>
              </ul>
            </div>
            <div class="idea-tabs__tab" id="yes-idea">
              <div class="idea-tabs__tab-picture">
                <img src="./dist/images/tabs/tab-no.png" alt="No idea">
              </div>
              <ul class="idea-tabs__tab-list">
                <li class="idea-tabs__list-item">How mobile and web applications can be helpful for my business?</li>
                <li class="idea-tabs__list-item">How applications can increase my profit and decrease expenses?</li>
                <li class="idea-tabs__list-item">How to get closer to customers and find out what they need?</li>
                <li class="idea-tabs__list-item">How mobile apps marketing works?</li>
                <li class="idea-tabs__list-item">How to bring my business to a new level and outrun competitors?</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="what-get">
          <div class="container">
              <h3 class="what-get__title">
                What will you get?
              </h3>
              <div class="what-get__items">
                  <div class="what-get__item">
                    <img src="./dist/images/what-get/analytics-2.png" alt="">
                    <p>Research & Findings Reports</p>
                  </div>
                  <div class="what-get__item">
                    <img src="./dist/images/what-get/clipboard.png" alt="">
                    <p>Development Plan</p>
                  </div>
                  <div class="what-get__item">
                    <img src="./dist/images/what-get/smartphone.png" alt="">
                    <p>Ready Product</p>
                  </div>
              </div>
          </div>
      </section>
      <section class="main-contact-form" data-scroll="black">
        <div class="container">
          <h2 class="main-contact-form__title block-title">
            Lets make your app idea successfull
          </h2>
          <div class="main-contact-form__content">
            <ul class="main-contact-form__points-list">
              <li class="main-contact-form__point">Totally <span class="blue-text">FREE 20-min</span> App Development Consultation for any topic you choose.</li>
              <li class="main-contact-form__point">Top solutions for creating MVP</li>
              <li class="main-contact-form__point"><span class="blue-text">100%</span> Confidential consultation! We sign NDA.</li>
              <li class="main-contact-form__point">Quick, non-obligation appraisal based on similarity to existing apps - <span class="blue-text">Fast Pricing Matrix</span></li>
              <li class="main-contact-form__point">The real chance to improve and execute your big app idea!</li>
            </ul>
            <div class="main-contact-form__form-container">
                <h3 class="main-contact-form__form-title">
                    Contact Us For a Free & Confidential 
                    App Consultationa
                </h3>
                <form action="" class="main-contact-form__form">
                  <div class="input-container">
                    <input type="text" class="form-input" name="name" placeholder="name*">
                  </div>
                  <div class="input-container">                    
                    <input type="text" class="form-input" name="email"  placeholder="email*">
                  </div>
                  <div class="input-container">                    
                    <textarea name="description" id="" cols="30" rows="10" placeholder="App description*"></textarea>
                  </div>
                  <label for="nda" class="checkbox">
                    <input type="checkbox" id="nda">
                    <div class="styled-checkbox">
                      <img src="./dist/images/support-icons/tick.png" alt="">
                    </div>  
                    <span>I want to sign an NDA</span>
                  </label>
                  <button class="submit-button">Book free app consultation</button>
                </form>
              </div>
          </div>
        </div>
      </section>
    </div>
    <% include ./partials/footer %>
  </body>
</html>