<!DOCTYPE>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="wrapper services-wrapper">
      <section class="works-title">
        <div class="container">
          <h1 class="works-title__title block-title">
            Services
          </h1>
          <h2 class="works-title__subtitle block-subtitle">
            We focus on dreaming and building
          </h2>
          <p class="works-title__lead">
            At YML, we believe that the products we create are the starting point, 
            not the endpoint. A product that doesn't push the limits of business isn't 
            what we're looking to build. We treat web as an extension of mobile and not 
            the other way around. PayPal didn't ask us to build a beautiful product.
            They asked us to design a product that users all over the world will love 
            and can scale to millions of transactions. We took the challenge head on. 
            The leading medical institutions didn't ask us to build a series of screens. 
            They asked for our help in creating a product that will disrupt how medical research 
            is being done. Mission Accomplished.
          </p>
        </div>
      </section>
      <section class="toggle-buttons">
        <div class="container">
          <a href="#strategy" class="toggle-button">
            <img src="../dist/images/icons/icon-blub.png" alt="" class="toggle-button__img">
            <h3 class="toggle-button__sign">Digital strategy</h3>
          </a>
          <a href="#design" class="toggle-button">
            <img src="../dist/images/icons/icon-ui.png" alt="" class="toggle-button__img">
            <h3 class="toggle-button__sign">Design</h3>
          </a>
          <a href="#technology" class="toggle-button">
            <img src="../dist/images/icons/icon-rocket.png" alt="" class="toggle-button__img">
            <h3 class="toggle-button__sign">Technology</h3>
          </a>
        </div>
      </section>
      <section class="services-block services-block--strategy" id="strategy" style="background-image: url('./dist/images/services/strategy-bg.png');">
        <div class="container" >
          <h2 class="services-block__title block-title">
            Digital Strategy
          </h2>
          <h3 class="services-block__subtitle block-subtitle">
            Planing and Research
          </h3>
          <p class="services-block__lead">
              The pinnacle of our product design and development services: we help 
              you see what you can't. We've been down this road and have seen hundreds 
              of digital projects from concept to launch. Our goal is to not only turn your 
              vision into reality, but to guide you with best practices along the way. Your success is our success.
          </p>
          <ul class="services-block__list">
            <li class="services-block__list-item">Brand & Product Strategy</li>
            <li class="services-block__list-item">Strategic Planning</li>
            <li class="services-block__list-item">Audience Insights</li>
            <li class="services-block__list-item">Growth Hacking</li>
            <li class="services-block__list-item">Competitive Research & Analysis</li>
          </ul>
        </div>
      </section>
      <section class="services-block services-block--design" id="design" style="background-image: url('./dist/images/services/design-bg.png');">
        <div class="container" >
          <h2 class="services-block__title block-title">
            Digital Strategy
          </h2>
          <h3 class="services-block__subtitle block-subtitle">
            Planing and Research
          </h3>
          <p class="services-block__lead">
              The pinnacle of our product design and development services: we help 
              you see what you can't. We've been down this road and have seen hundreds 
              of digital projects from concept to launch. Our goal is to not only turn your 
              vision into reality, but to guide you with best practices along the way. Your success is our success.
          </p>
          <ul class="services-block__list">
            <li class="services-block__list-item">Brand & Product Strategy</li>
            <li class="services-block__list-item">Strategic Planning</li>
            <li class="services-block__list-item">Audience Insights</li>
            <li class="services-block__list-item">Growth Hacking</li>
            <li class="services-block__list-item">Competitive Research & Analysis</li>
          </ul>
        </div>
      </section>   
      <section class="services-block services-block--technology" id="technology" style="background-image: url('./dist/images/services/technology-bg.png');">
        <div class="container" >
          <h2 class="services-block__title block-title">
            Digital Strategy
          </h2>
          <h3 class="services-block__subtitle block-subtitle">
            Planing and Research
          </h3>
          <p class="services-block__lead">
              The pinnacle of our product design and development services: we help 
              you see what you can't. We've been down this road and have seen hundreds 
              of digital projects from concept to launch. Our goal is to not only turn your 
              vision into reality, but to guide you with best practices along the way. Your success is our success.
          </p>
          <ul class="services-block__list">
            <li class="services-block__list-item">Brand & Product Strategy</li>
            <li class="services-block__list-item">Strategic Planning</li>
            <li class="services-block__list-item">Audience Insights</li>
            <li class="services-block__list-item">Growth Hacking</li>
            <li class="services-block__list-item">Competitive Research & Analysis</li>
          </ul>
        </div>
      </section>        
      <div class="last-block"></div>
    </div>
    <% include ./partials/footer %>    
    <script src="./dist/bundle.js"></script>
    
  </body>
</html>