<!DOCTYPE>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="wrapper">
      <section class="works-title">
        <div class="container">
          <div class="service-hero-top__main-image">
            <img src="../dist/images/services/main_image-works.png" alt="">
          </div>
          <div class="services-hero-top__content">
            <h2 class="services-hero-top__title">
              Our Works
            </h2>
            <div class="services-hero-top__lead">
              <p>
                Here's a small snapshot of the work delivered by IT-nity.
                Check out how we have crafted our client’s
                ideas into products with the right market fit. Let us know if something catches your eye.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="portfolio-container">
        <div class="container">
          <div class="portfolio-card portfolio-card--miquare">
            <div class="portfolio-card__content">
              <h3 class="portfolio-card__title">
                  MiQare
                </h3>
                <p class="portfolio-card__description">
                    Providing faster prescription writing, a decrease in liability due to human fallacy
                    as well as realtime interaction with patients.
                </p>
                <div class="portfolio-card__tags-container">
                  <div class="portfolio-card__tag">Helth care</div>
                  <div class="portfolio-card__tag">Android</div>
                  <div class="portfolio-card__tag">IOS</div>
                  <div class="portfolio-card__tag">CANADA</div>
                </div>
            </div>
            <div class="portfolio-card__image" style="background-image: url('./dist/images/works/miquare.png');"></div>
          </div>
          <div class="portfolio-card portfolio-card--mark">
              <div class="portfolio-card__content">
                <h3 class="portfolio-card__title">
                    Mark-Connect
                  </h3>
                  <p class="portfolio-card__description">
                      Control your smart tracker MARK-GPS.
                  </p>
                  <div class="portfolio-card__tags-container">
                    <div class="portfolio-card__tag">Alarm system</div>
                    <div class="portfolio-card__tag">Android</div>
                    <div class="portfolio-card__tag">IOS</div>
                    <div class="portfolio-card__tag">Ukraine</div>
                  </div>
              </div>    
              <div class="portfolio-card__image" style="background-image: url('./dist/images/works/mark.png');"></div>
          </div>
          <div class="portfolio-card portfolio-card--rod">
              <div class="portfolio-card__content">
                <h3 class="portfolio-card__title">
                    ROD
                  </h3>
                  <p class="portfolio-card__description">
                      Listen your favorite stories
                  </p>
                  <div class="portfolio-card__tags-container">
                    <div class="portfolio-card__tag">Multimedia</div>
                    <div class="portfolio-card__tag">Android</div>
                    <div class="portfolio-card__tag">IOS</div>
                    <div class="portfolio-card__tag">Israel</div>
                  </div>
              </div>
              <div class="portfolio-card__image" style="background-image: url('./dist/images/works/rod.png');"></div>
          </div>
          <div class="portfolio-card portfolio-card--elbiled">
            <div class="portfolio-card__content">
              <h3 class="portfolio-card__title">
                Elbiled.net
              </h3>
              <p class="portfolio-card__description">
                Stay connected with all national and international news in Arabic.
              </p>
              <div class="portfolio-card__tags-container">
                <div class="portfolio-card__tag">News</div>
                <div class="portfolio-card__tag">Android</div>
                <div class="portfolio-card__tag">Israel</div>
              </div>
            </div>
            <div class="portfolio-card__image" style="background-image: url('./dist/images/works/elbiled.png');"></div>
          </div>
          <div class="portfolio-card portfolio-card--pullman">
            <div class="portfolio-card__content">
              <h3 class="portfolio-card__title">
                AirPullman
              </h3>
              <p class="portfolio-card__description">
                An on-demand app for tracking company's vehicles.
              </p>
              <div class="portfolio-card__tags-container">
                <div class="portfolio-card__tag">Transportation</div>
                <div class="portfolio-card__tag">Android</div>
                <div class="portfolio-card__tag">IOS</div>D
                <div class="portfolio-card__tag">Czech Republic</div>D
              </div>
            </div>
            <div class="portfolio-card__image" style="background-image: url('./dist/images/works/air-pullman.png');"></div>
          </div>
        </div>  
      </section>
      <div class="last-block"></div>
    </div>
    <% include ./partials/footer %>
  </body>
</html>